.App {
  text-align: center;
}
.App{
  
  display: flex; 
  flex-direction:row;
 
  height:700px;
}

.maindiv{
  width:100%;  
}

.maindiv2{
  background-color:#052622;
}

.maindiv1{
  background: #16A493;

  
}