.App {
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-evenly;
}

.Sign-link {
  text-decoration: none;
  color: black;
}

.Login-link {
  text-decoration: none;
  color: black;
}