.cardlist{
   display:flex;
   flex-direction: row;
   flex-wrap:wrap;
   color:white;
   margin-left:80px;
   margin-top: 20px;
}

.card{
    border:1px solid black;
    margin-left:20px;
    text-align: center;
    height:250px;
    width:200px;
    border-radius:10px;
    color:white;
}

